* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.btn-primary {
    background: #1890ff;
    border: 1px solid #1890ff;
    color: #fff;
    
}

.btn-primary .btn-auth-svg {
    width: 24px;
    height: 24px;
    background-color: #fff;
    -webkit-mask: url("../img/icon/user.svg") no-repeat 50% 50%;
    mask: url("../img/icon/user.svg") no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.btn-outline {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    color: #595959;
}

.btn-outline .btn-cart-svg {
    width: 24px;
    height: 24px;
    background-color: #595959;
    -webkit-mask: url("../img/icon/shopping-cart.svg") no-repeat 50% 50%;
    mask: url("../img/icon/shopping-cart.svg") no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    align-items: center;
    min-height: 124px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180deg,
            rgba(245, 245, 245, 0) 1.04%,
            #f5f5f5 100%);
}

.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    flex-wrap: wrap;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-nav ul li {
    color: #595959;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.footer-nav ul li a{
    text-decoration: none; 
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url(../img/banners/vegetables.png);
    background-color: #fff1b8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
}

.banner-item--title {
    font-weight: 700;
    font-size: 39px;
    color: #302c34;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item--subtitle {
    font-size: 24px;
    color: #302c34;
    font-weight: 400;
    max-width: 50%;
    margin: 0;
}

.products {}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.products-header--title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin: 0;
}

.products-header--search {
    min-width: 306px;
    /* height: 34px; */
    background-image: url(../img/icon/search.svg);
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    padding: 5px 8px 8px 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.products-header--search:focus {
    outline: none;
    border: 1px solid #d9d9d9;
}

.products-header--search:placeholder {
    color: #bfbfbf;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.products-wrapper {
    margin-top: 44px;
    margin-bottom: 90px;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 24px;
}

.products-card {
    width: calc((100% - 48px) / 3);
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    text-decoration: none;
    /* flex-basis: 31%;
    text-decoration: none; */
}

.products-card__image {
    width: 100%;
}

.products-card__image img {
    width: 100%;
}

.products-card__description {
    padding: 20px 24px 34px 24px;
}

.products-card__description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card__description--title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
}

.products-card__description--badge {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}

.products-card__description-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 25px;
}

.products-card__description-info--raiting {
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.products-card__description-info--price,
.products-card__description-info--group {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.products-card__description-info--group {
    position: relative;
}

.products-card__description-info--group::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8c8c8c;
    position: absolute;
    left: -14px;
    top: 14px;
}

.products-card__description--name {
    color: #000;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.products-card__description--text {
    font-weight: 400;
    font-size: 18px;
    color: #8c8c8c;
    margin: 0;
}

.products-card__description-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.products-card__description-controls--price {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000
}

.cart-modal__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);

    align-items: center;
    justify-content: center;
}

.cart-modal__overlay.open {
    display: flex;
}

.cart-modal {
    width: 100%;
    max-width: 780px;
    padding: 40px 45px;
    border: radius 5px;
    background-color: #fff;
}

.cart-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

}

.cart-modal__header--title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin: 0;
}

.cart-modal__header--close {
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.cart-item:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.cart-item__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000;
    margin: 0;
}

.cart-item__controls--price {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000;
    margin-right: 47px;

}

.cart-item__controls {
    display: flex;
    align-items: center;
}

.cart-item__controls button {
    border: 1px solid #40A9FF;
    color: #40A9FF;
    border-radius: 2px;
    padding: 5px 16px;
    width: 40px;
    height: 32px;
}

.cart-item__controls--count {
    margin-left: 15px;
    margin-right: 15px;
}

.cart-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.cart-modal__footer--price {
    background: #262626;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 20px;

}

.cart-modal__footer--controls {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .banner-item {
        background-image: none;
    }

    .banner-item--title {
        max-width: 100%;
    }

    .banner-item--subtitle {
        max-width: 100%;
    }

    .products-card {
        width: calc((100% - 24px) / 2);
    }
}

@media (max-width: 578px) {
    .products-card {
        width: 100%;
    }
}